In [2]:
import pandas as pd

In [16]:
df = pd.read_csv('2019_nC0v_20200121_20200126_cleaned.csv', sep=',')

In [17]:
df = df.drop(columns= ['Unnamed: 0'])

In [19]:
df

,Province/State,Country,Date last updated,Confirmed,Suspected,Recovered,Deaths
0,Shanghai,Mainland China,1/21/2020,9.0,10.0,0.0,0.0
1,Yunnan,Mainland China,1/21/2020,1.0,0.0,0.0,0.0
2,Beijing,Mainland China,1/21/2020,10.0,0.0,0.0,0.0
3,Taiwan,Taiwan,1/21/2020,1.0,0.0,0.0,0.0
4,Jilin,Mainland China,1/21/2020,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...
363,0,France,1/26/2020 11:00 AM,3.0,0.0,0.0,0.0
364,0,Australia,1/26/2020 11:00 AM,4.0,0.0,0.0,0.0
365,0,Nepal,1/26/2020 11:00 AM,1.0,0.0,0.0,0.0
366,0,Malaysia,1/26/2020 11:00 AM,4.0,0.0,0.0,0.0
367,Ontario,Canada,1/26/2020 11:00 AM,1.0,0.0,0.0,0.0

In [33]:
empty = df[df['Province/State']=='0']
notempty = df[df['Province/State']!='0']
notempty

,Province/State,Country,Date last updated,Confirmed,Suspected,Recovered,Deaths
0,Shanghai,Mainland China,1/21/2020,9.0,10.0,0.0,0.0
1,Yunnan,Mainland China,1/21/2020,1.0,0.0,0.0,0.0
2,Beijing,Mainland China,1/21/2020,10.0,0.0,0.0,0.0
3,Taiwan,Taiwan,1/21/2020,1.0,0.0,0.0,0.0
4,Jilin,Mainland China,1/21/2020,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...
354,Qinghai,Mainland China,1/26/2020 11:00 AM,1.0,0.0,0.0,0.0
355,Washington,United States,1/26/2020 11:00 AM,1.0,0.0,0.0,0.0
356,Illinois,United States,1/26/2020 11:00 AM,1.0,0.0,0.0,0.0
357,California,United States,1/26/2020 11:00 AM,1.0,0.0,0.0,0.0
367,Ontario,Canada,1/26/2020 11:00 AM,1.0,0.0,0.0,0.0

In [31]:
empty = empty.groupby('Country',as_index= False).agg(sum)
empty

        Country  Confirmed  Suspected  Recovered  Deaths
0     Australia       13.0        1.0        0.0     0.0
1        Brazil        0.0        1.0        0.0     0.0
2      Colombia        0.0        1.0        0.0     0.0
3        France       14.0        0.0        0.0     0.0
4         Japan       18.0        0.0        1.0     0.0
5      Malaysia       13.0        4.0        0.0     0.0
6        Mexico        0.0        1.0        0.0     0.0
7         Nepal        4.0        0.0        0.0     0.0
8   Philippines        0.0        4.0        0.0     0.0
9     Singapore       18.0        0.0        0.0     0.0
10  South Korea       16.0        0.0        0.0     0.0
11     Thailand       43.0        0.0        2.0     0.0
12      Vietnam       14.0        0.0        0.0     0.0

In [37]:
empty['Province/State'] = 'Warsaw'
e

C:\Users\dajno\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df3 = pd.concat([df, empty])

In [35]:
df3

,Province/State,Country,Date last updated,Confirmed,Suspected,Recovered,Deaths
0,Shanghai,Mainland China,1/21/2020,9.0,10.0,0.0,0.0
1,Yunnan,Mainland China,1/21/2020,1.0,0.0,0.0,0.0
2,Beijing,Mainland China,1/21/2020,10.0,0.0,0.0,0.0
3,Taiwan,Taiwan,1/21/2020,1.0,0.0,0.0,0.0
4,Jilin,Mainland China,1/21/2020,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...
362,0,Vietnam,1/26/2020 11:00 AM,2.0,0.0,0.0,0.0
363,0,France,1/26/2020 11:00 AM,3.0,0.0,0.0,0.0
364,0,Australia,1/26/2020 11:00 AM,4.0,0.0,0.0,0.0
365,0,Nepal,1/26/2020 11:00 AM,1.0,0.0,0.0,0.0
366,0,Malaysia,1/26/2020 11:00 AM,4.0,0.0,0.0,0.0